In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('flights_sample.csv')
df = df.drop(['Unnamed: 0'], axis=1)

In [6]:
df.shape

(10000, 31)

In [7]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,2,5,B6,116,N198JB,JFK,SYR,952,...,1052.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,11,13,5,DL,1381,N314NB,MSP,JAX,1000,...,1327.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,5,6,3,EV,6133,N14168,ERI,ORD,622,...,652.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,4,3,5,OO,7392,N443SW,SGU,SLC,637,...,737.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,12,10,4,F9,1456,N211FR,LAS,ATL,20,...,700.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN